.table-div {
  margin: 0 30px;
}

.user-tab {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  padding: 0 30px;
  /* margin-right: 50px; */
}

.user-tab th,
.user-tab td {
  padding: 10px;
  border-bottom: 1px solid rgb(236, 234, 234);
  /* margin: 0 50px 0 50px; */
}

.user-tab th {
  /* background-color: #f2f2f2; */
  font-weight: bold;
  text-align: left;
}

button {
  margin-right: 10px;
  border: none;
  background-color: transparent;
}

.selected-line {
  background-color: #f5f5f5;
}
